/* Reset some default browser styles */
html,
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.hero-container {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}

.hero-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.description-container,
.content-container,
.what-is-container {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-body {
    margin-top: 1rem;
}

.button-container {
    text-align: center;
    margin-top: 2rem;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}